@media screen and (min-width:3001px){
    .game-hero-lightlimits{
        width:400px;
        height:300px;
    }
}

@media screen and (max-width: 3000px){
    #profile{
        height:83vh;
        margin-bottom:6rem;
    }

    .about-containers{
        flex-wrap:wrap;
    }
    
    .game-hero-lightlimits{
        width:400px;
        height:300px;
    }

    .yt-video{
        height:100%;
    }

    .demoreel-container{
        width:100%;
    }

    /* Font Sizes */
    /*
    article{
        font-size:3rem;
    }

    .contact-info-container p, .nav-links li a{
        font-size: 3rem;
    }

    .experience-sub-title{
        font-size:3.75rem;
    }

    .logo{
        font-size: 4.5rem;
    }

    .section__text__p2{
        font-size:3.75rem;
    }
    */

    /*
    .about-containers, .contact-info-upper-container, .btn-container{
        flex-wrap:wrap;
    }

    .about-containers{
        display:block;
    }
    */
}


@media screen and (max-width: 1200px){
    #desktop-nav {
        display:none;
    }
    
    #hamburger-nav{
        display:flex;
    }

    #skills, .experience-details-container{
        margin-top:2rem;
    }

    .section-container{
        display:block;
    }

    .arrow{
        display:none
    }

    section, .section-container{
        height:fit-content;
    }

    section{
        margin:0 5%;
    }

    .section__pic-container{
        width:275px;
        height:275px;
        margin:0 auto 2rem;
    }

    .about-pic{
        height:275px;
        width:275px;
    }

    .about-containers{
        margin-top:0;
    }

    .project-container{
        margin-top:0;
    }

    /*Demoreel Video*/
    .yt-video{
        width:100%;
    }

    .demoreel-container{
        width:100%;
    }

    /*
    .demoreel-video{
        width:500px;
        height:281.25px;
    }
    */
}

@media screen and (max-width: 600px){
    #contact, footer{
        height:40vh;
    }
    #profile{
        height:83vh;
        margin-bottom:0;
    }

    footer nav{
        height:fit-content;
        margin-bottom:2rem;
    }

    #portfolio{
        height:fit-content;
    }

    .about-pic{
        height:275px;
        width:275px;
    }

    .about-containers, .contact-info-upper-container, .btn-container{
        flex-wrap:wrap;
    }

    .about-containers{
        display:block;
    }

    .contact-info-container{
        margin:0;
    }

    .nav-links{
        margin-top:1rem;
    }

    .nav-links li{
        text-align:center;
        line-height:1rem;
    }

    .nav-links{
        flex-direction:column;
    }

    .section__pic__container{
        width:auto;
        height:46vw;
        justify-content:center;
    }

    .project-img{
        width:90%;
    }

    .game-hero-lightlimits{
        max-width:90%;
        max-height:400px;
    }

    .game-hero-wide{
        width:90%;
        height:200px;
    }

    /* Demoreel Video */
    .yt-video{
        width:100%;
    }

    .demoreel-video-container{

    }

    .demoreel-container{
        width:100%;
    }

    .demoreel-video-box{
        width:100%;
    }

    /* Font Sizes - 600px*/
    article{
        font-size:1rem;
    }

    .contact-info-container p, .nav-links li a{
        font-size: 1rem;
    }

    .experience-sub-title{
        font-size:1.25rem;
    }

    .logo{
        font-size: 1.5rem;
    }

    .section__text__p2{
        font-size:1.25rem;
    }
}
