@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/* -----------| My CSS |----------- */

:root{
    /* Remove */
    
    /* Keep */
    --color-primary:white;
    --color-primary-darker:#636363;
    --color-background: #4e5467;
    --color-background-dark:#313542;
    --color-background-darker:#1e2028;

    --color-white:#ffffff;
    --color-white-darker:#ffffffb1;
    --color-cyan:#00c3ff;
    --color-dark-cyan:#87cfe5;
    --color-darker-cyan:#6ba0b1;
    --transition0: all .4s ease-in-out;

    --color-black:#000;
    --color-grey0:#f8f8f8;
    --color-grey-1:#dbe1e8;
    --color-grey-2:#b2becd;
    --color-grey-3:#6c7983;
    --color-grey-4:#454e56;
    --color-grey-5:#2a2e35;
    --color-grey-6:#12181b;
    --br-sm-2: 14px;

    --project-max-height:220px;
    --project-max-width:1200px;
}

h1, h2{
    text-align:center
}

h1{
    font-size:70px;
    font-weight:700;
}

h2{
    font-size:35px;
    font-weight:500;
}

.h2-big-bold{
    font-size:45px;
    font-weight:bold;
}

h3{
    font-size:25px;
    font-weight:400;
}

/* For game titles */
h6{
    font-size:16px;
    font-style:italic;
    font-weight:bold;
}

/* To encapsulate the stuff under navbar into same container */
.content-container{
    /* top right bottom left */
    margin: 2rem 0rem 2rem 0rem;
}

/* To encapsulate the whole section in the same layout */
.section-container{
    margin:auto;
    width:30vw;
    min-width: 500px;
    max-width: 576px;   /* Half of 1080p */
}

.section-container-flex-center{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.websitelogo{
    
}

/* Home Page Stuff */
.icon{
    cursor: pointer;
    height:4.0rem;
}

.itchio-icon{
    width:180px;
}

.icon-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border:2px;
    border-style:solid;
    margin:auto;
    margin-top:1rem;
    width:300px;
    height:200px;
    background-color:var(--color-background-dark);
    border-radius:25px;
}

.icon-subcontainer{
    display:flex;
    justify-content:center;
    gap:1rem;
}

.icon-subcontainer-new-row{
    display:flex;
    justify-content:center;
    gap:1rem;
    margin-top:0.5rem;
}

.page-container{
    width:30vw;
}

/* About Me Page Stuff */
.centered-container{
    display:flex;
    justify-content:center;
}

.centered-text{
    text-align: center;
}

.aboutme-section{
    margin:1rem;        /* Box around each section */
    display:flex;
    justify-content:center;
    flex-direction:column;
    text-align:center;
}

.aboutme-bullets{
    text-align:left;
    margin-left:30px;   /* To account for the bulletpoints */
}

.box-border{
    border-style: solid;
    border-width:2px;
    padding: 15px;      /* Add padding for the border */
    background-color:var(--color-background-dark);
    border-radius:20px;
}

/* Sub bulletpoints */
.list-subbullets{
    margin-left:1.5rem;
}

.list-subsubbullets{
    margin-left:2.0rem;
}

.link-color{
    font-style: italic;
}

.link-color:link{
    color:var(--color-dark-cyan)
}

.link-color:visited{
    color:var(--color-dark-cyan)
}

.link-color:hover{
    color:var(--color-cyan)
}

/* Gaming History */
.history-section-container{
    margin:auto;
    width:50vw;
    
    min-width: 500px;
    max-width: 960px;       /* Half of 1920p */
}

.history-section{
    margin-top:8px;
    text-align: left;
    padding: 0px 20px;
    border-width: 1px;
    border-color:white;
    border-style: solid;
}

.history-section h3{
    text-align: center;
    font-style: italic;
}

.game-title{
    font-style:italic;
    font-weight:bold;
}

/* Projects Page */
.all-projects-container{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom:2rem;
}

.project-container{
    margin-top:1rem;
    background-color: var(--color-background-darker);
    display:flex;
    height:var(--project-max-height);
    width:var(--project-max-width);
}

.debugbox{
    border-width: 1px;
    border-style:solid;
    border-color:white;
}

.debugbox1{
    border-width: 1px;
    border-style:solid;
    border-color:var(--color-white-darker);
}

.project-container-image{
    flex-direction: column;
    display:flex;
    width:25%;
    align-items: center;
    justify-content: center;
}

.project-container-image img{
    /* So taller pictures don't get too high out of the box. */
    max-height:calc(var(--project-max-height) - 20px);    /* Defined from project-container */
    height:auto;
    width:100%;
}

.project-container-description{
    width:75%;
    display:flex;
    flex-direction: column;
    align-items: stretch;
}

.project-title{
    text-align: center;
    font-weight:bold;
    font-style:italic;
    font-size:27px;
    color:var(--color-primary);
}

.project-description-container{
    /*flex*/
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
}

.project-description{
    margin-left:1.5rem;
    margin-right:0.5rem;
    /*flex*/
    display:flex;
    align-items:center;
}

.project-container-links{
    flex-direction: column;
    width:25%;
    /*flex*/
    display:flex;
    align-items:center;
    justify-content:center;
}

.link-button{
    text-align: center;
    border-width:1px;
    border-style:solid;
    border-radius:5px;
    width:95%;
    height:30%;
    margin-top:2px;
    margin-bottom:2px;
    /*flex*/
    display:flex;
    align-items:center;
    justify-content:center;
}

.link-button-play{
    /*Highlight different color than rest to pop out*/
    background-color:var(--color-background-dark);
}

.link-button:hover{
    /* Swap colors, like white to black, black to white */
    transition:all .1s ease-in-out;
    background-color:var(--color-primary);
    color:var(--color-background-darker);
}

/* Demo Reel */
.demoreel-container{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top:1rem;
}

.demoreel-video{
    margin-bottom:1rem;
}

/* Contact Me */
.contact-container{
    background-color: var(--color-background-dark);
    border-width: 1px;
    border-style:solid;
    border-color:white;
    border-radius:2rem;
    padding:0.5rem;
    margin-top:1rem;
    padding-left:3rem;
    padding-right:3rem;
    padding-bottom: 1rem;
    padding-top:1rem;
    width:fit-content;

    display:flex;
    flex-direction:column;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.contact-subcontainer{
    display:flex;
    justify-content: center;
    flex-direction: center;
    padding:0.5rem;
}

.contact-icon{
    font-size:2rem;
    padding-right:0.5rem;
}

.contact-text-link{
    color:var(--color-dark-cyan);
}

.contact-text-link:hover{
    color:var(--color-cyan);
    text-decoration: underline;
}

/* Credits Page */
#credits-homepage{
    text-align:center;
    margin-top:8rem;
}

.credits-container{
    margin-top:1rem;
    text-align: center;
}





/* Entire Page */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    color:var(--color-white);
    background-color:var(--color-background);
    font-family: Montserrat, sans-serif;
    transition: all .4s ease-in-out;
}

/* Header */

i{
    color:inherit;
}

a{
    display:inline-block;
    text-decoration:none;
    color:inherit;
    font-family:inherit;
}

#header{
    justify-content: center;
    height:180px;
}

#header .logo{
    margin-top:1.1rem;
    display:flex;
    justify-content: center;
}

#header .logo h1{
    font-weight:700;
    font-size:70px;
}

/* Navbar */

.navbar{
    margin-top:1rem;
    text-align:center;
}

.navbar-elem{
    transition: .5s;
    font-size:1.1rem;
}

.navbar-elem:hover{
    background-color: var(--color-black);
    margin-left:2px;
    margin-right:2px;
    transition: .5s;
    font-size:1.2rem;
}

.navbar nav ul a {
    scroll-behavior:smooth;
}

.navbar nav ul a li{
    display:inline-block;
    border:2px solid;
    padding:10px 15px;
}

#portfolio{
    justify-content:center;
    width:50%;
    margin-top: 50px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0px;
}

/* Demo Reel */
#portfolio .demoreel{
    text-align:center;
}

/* Game Images */

.mygames div a img{
    height:300px;
}

.center{
    text-align:center;
}



/* To be removed; keeping as example */

/* #1
header{
    height:100vh;
    color:var(--white);
    overflow:hidden;
}

section{
    min-height:100vh;
    width:100%;
    position:absolute;
    left:0;
    top:0;
    padding:3rem 18rem;
}

.section{
    transform: translateY(-100%) scale(0);
    transition: var(--transition0);
    background-color:var(--color-background);
}

.sec1, .sec2, .sec3, .sec4, .sec5{
    display: none;
    transform: translateY(0) scale(1);
}

.controls{
    position:absolute;
    z-index: 10;
    top:50%;
    right: 3%;
    display:flex;
    flex-direction:column;
    transform:translate(-50%);
    align-items:center;
    justify-content:center;

    display:inline-block;
    .control{
        padding:1rem;
        cursor:pointer;
        background-color:var(--color-grey-4);
    }
}
*/

/* #2
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
*/

/* #3
body{
    background: #d9f0ff;
    color: #080808;
}

#header{
    width: 100%;
    height: 100vh;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color:#080808;
    text-decoration: none;
    font-size: 20px;
    position:relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #000000;
    position:absolute;
    left: 0;
    bottom: -6;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width:100%;
}
*/